body {
  
  background-color:#607D8B;
}
.nav {
 position:fixed;
  width:100%;
  z-index: +1;
  top:0;
  left:0;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.3);
}
.btn {
 display:inline-block;
  text-decoration:none;
  text-align:center;
  width:calc( 100% / 5);
  font-size:30px;
  float:left;
  font-family: 'Comfortaa';
  color:grey;
  line-height:65px;
  background-color:white;
  transition: all .25s ease-in-out;
  overflow: hidden;
}
.btn:hover {
  color: white;
  
  
  background-color:#2979FF;
  box-shadow:inset 0px -5px #1565C0, 0px -4px #d4d4d4,  0px 0px 11px 0px rgba(0,0,0,0.43);
}
.btn:active {
 box-shadow: inset 0px 0px #2962ff, 0px 0px #d4d4d4, 0px 0px 0px 0px rgba(0,0,0,0.43); 
}
.main {
 width:60%;
  
  height:1500px;
  background-color:#e4e4e4;
  border-radius:3px;
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.vidwrap {
 position:relative;
  top:100px;
  border-radius:5px;
  width:75%;
  height:32vw;
  background-color:white;
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.vid {
 width:100%;
  height:75%;
  position:relative;
  top:0;
  left:0;
}
.vidtext {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  font-size:4vw;
  font-family:'pf universal';
  color:#575757;
}
.banner {
  position: relative;
  left:0;
  top:75px;
  background-color:white;
  width:100%;
  height:25em;
}
