* {
  box-sizing: border-box;
}
.transition {
  transition: all .15s;
}
.margin-clear {
  margin-top: 0;
  margin-bottom: 0;
}
@font-face {
  font-family: 'Arcon';
  src: url(Arcon-Regular.otf);
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #263238;
}
.main-wrap {
  position: relative;
  top: 0;
  width: 70%;
  left: 15%;
  background-color: #ECEFF1;
  min-height: 100vh;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.header-wrap {
  position: relative;
  width: 100%;
  left: 0;
  text-align: center;
  margin-top: 0;
  padding: 0;
}
.header {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 70px;
  font-family: 'Arcon';
  font-size: 50px;
  color: #4f5b61;
}
.header span {
  color: #263238;
}
.nav-bar {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  border-top: solid 3px #263238;
  border-bottom: solid 3px #263238;
}
.nav-btn {
  position: relative;
  display: inline-block;
  float: left;
  font-size: 25px;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: 300;
  color: #263238;
  line-height: 60px;
  width: calc(100% / 5);
  text-align: center;
  transition: all .15s;
}
.nav-btn:hover {
  background-color: #263238;
  color: white;
}
.content-wrap {
  width: 80%;
  left: 10%;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  transition: all .15s;
  margin-top: 70px;
  padding-bottom: 150px;
}
.card-link {
  text-decoration: none;
}
.card {
  width: 100%;
  background-color: #ECEFF1;
  margin-top: 0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  padding-bottom: 25px;
  transition: all .15s;
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
}
.card img {
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 50px;
  border: solid 6px #263238;
}
.card-title {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 25px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #292929;
  color: #ECEFF1;
  padding: 15px 3%;
  line-height: 40px;
  background-color: #263238;
}
.card-text {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  margin: auto;
  font-family: 'Roboto slab';
  color: #2a2a2a;
  font-size: 22px;
  text-align: justify;
  width: 90%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.btn {
  position: relative;
  display: inline-block;
  float: left;
  font-size: 25px;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: 300;
  color: #263238;
  line-height: 60px;
  width: calc(100% / 5);
  text-align: center;
  transition: all .15s;
  border-top: solid 3px #263238;
  border-bottom: solid 3px #263238;
  padding-left: 30px;
  padding-right: 30px;
  float: none;
  width: auto;
}
.btn:hover {
  background-color: #263238;
  color: white;
}
