.twitter {
 border:none;
width:500px;
  height:500px;
  margin-left:280px ;
font-size: 100px;
  font-family:'Comfortaa';
  color:#33ccff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:3px;
  transition: all 0.4s;
  
}
.twitter:hover {
  background-color:#33ccff;
  color:white;
  
}
.youtube {
  position: relative;
  left:220px;
border: none;
  width: 500px;
  height: 500px;
  font-size: 100px;
  font-family: 'Comfortaa';
  color:#c11a1a;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.4s;
  
}
.youtube:hover {
  background-color:#c11a1a;
  color:white;
  
}
.twitch {
 border:none;
  margin-left: 280px;
  width: 500px;
  height: 500px;
  font-size: 100px;
  font-family:'Comfortaa';
  color:#6442a6;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.4s;
}
.twitch:hover {
  background-color:#6442a6;
  color:white;
  
}
.googleplus{
  position: relative;
  left:220px;
 border:none;
  width: 500px;
  height: 500px;
  font-size: 100px;
  font-family:'Comfortaa';
  color:#dc473a;
  border-radius:3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.4s;
}
.googleplus:hover {
  background-color:#dc473a;
  color:white;
}
tr:empty {
  height:50px; 
}
body {
  background-color: lightgrey;
  
}
