body {
  background-color: #92989f;
}
.btn {
 text-decoration: none;
  color:white;
  font-size:25px;
  font-family:'Comfortaa';
  background-color:#2E89C1;
  display: inline-block;
  line-height: 62px;
  width:calc(100%/6);
  text-align: center;
  float: left;
  transition: all .4s ;
}
.btn:hover {
  background-color:#e0e0e0;
  color:#09A4F9;
  width:calc(100%/6 - 30px);
  box-shadow: 0px -4px #d4d4d4,  0px 0px 11px 0px rgba(0,0,0,0.43);
}
.btn:active {
  box-shadow: 0px 0px #d4d4d4;
} 
.active {
  background-color: #FF7200;
  box-shadow: 0px -4px #bc5400;
}
.active:hover {
  color:#FF7200; 
}
