body {
  background-color:#607d8b; 
}

.btn {
text-align: center;
 display:block;
  background-color:#e74c3c;
  text-decoration:none;
  color:white;
  font-size:25px;
  font-family:'Comfortaa';
margin-top: 5px;
  border-radius:3px;
  box-shadow: 0px 2px #c0392b;
}
.header {
  color: #e74c3c;
  width:100%;
  text-align: center;
  font-family: 'Comfortaa';
  font-size:100%
}
.banner {
 padding-top:50px;
  padding-bottom:50px;
  color:#e74c3c;
  width:100%;
  margin-left:-3px;
  text-align:center;
  font-family:'Comfortaa';
  font-size:10px;
  border-style:solid;
  
}
