.btn { 
text-align:center;
  width:200px;
  display:inline-block;
  background-color:#e74c3c;
  color:white;
  font-size:25px;
  font-family:'Comfortaa';
  text-decoration:none;
  border-radius: 9px;
  line-height:30px;
  padding-top:10px;
  padding-bottom:10px;
  margin-right:150px;
  box-shadow: 0px 4px #c0392b;
  transition: all 0.3s ease-in-out;
}         
.btn:hover {
  width:250px;
  background-color:#34495e;
  box-shadow: 0px 3px #2c3e50;
}   
.btn:active {
  box-shadow: 0px 0px #2c3e50;
}    
.btn span {
 font-family: 'Comfortaa'; 
 
}

.nav {
 margin-top:50px; 
}
body {
  background-color:#607d8b;
}
.header {
  color:#e74c3c;
  font-family:'Comfortaa';
  font-size:50px;
  margin-left:460px

}
.banner {
  
  color:#e74c3c;
  padding-top:250px;
  padding-bottom:250px;
  padding-left:700px;
  padding-right:10px;
  font-family:'Comfortaa';
  font-size:25px;
  border-style:dashed;

}
