body {
 background-color:#484848 ;
}
/* #9B3133  #C1A580 */
.btn {
 
  
 text-decoration: none;
  color:white;
  font-size:35px;
  font-family: 'Passion One';
  display:inline-block;
 
  float:left;
  width: calc(100% / 5 - 1px);
  text-align: center;
  line-height: 80px;
transition: all .25s;
 
}
.btn:hover {
  
  box-shadow: inset 0px -5px #C1A580; 
  background-color:#505050;
  color:#C1A580;
  box-shadow:  black;
}
.twd {
  opacity:0;
  color:#C1A580;
  font-family:'Passion One';
  font-size:120px;
  position:relative;
  top:250px;
  text-shadow: 0px 2px 5px #3c3c3c;
  transition: all .25s ease-in-out;
}
.hr {
 height:5px;
  background-color:#C1A580;
  border:0;
  width:0%;
  transition: all .25s ease-in-out;
}

.twd:hover {
  color:#d1b187;
}
.subtitle {
  position:relative;
  top:150px;
  opacity:0;
 color:white;
  font-size:50px;
  font-family:'Sarala';
}
.the {
  color:#C1A580; 
}
